.player_masked.legcom {
  -webkit-mask-image: url("coui://ui/mods/com.pa.legion-expansion/img/icon_player_fill_l.png") !important;
}

.player_masked.mixcom {
  -webkit-mask-image: url("coui://ui/mods/com.pa.legion-expansion/img/icon_player_fill_m.png") !important;
}

.player_masked.bugcom {
  -webkit-mask-image: url("coui://ui/mods/bugs_faction/img/bug_icon_fill.png") !important;
}

.player_masked.bugmlacom {
  -webkit-mask-image: url("coui://ui/mods/bugs_faction/img/bug_mla_icon_fill.png") !important;
}

.player_masked.buglegioncom {
  -webkit-mask-image: url("coui://ui/mods/bugs_faction/img/bug_legion_icon_fill.png") !important;
}

.player_masked.buglegionmlacom {
  -webkit-mask-image: url("coui://ui/mods/bugs_faction/img/bug_legion_mla_icon_fill.png") !important;
}




    